{% set syntax = syntax|default({
    'prefix': false,
    'separator': {
        'prefix': '-',
        'element': '__',
        'modifier': '--',
    },
}) %}

{% set blockSelector = syntax.prefix|default(false) ? syntax.prefix ~ syntax.separator.prefix ~ 'breadcrumb' : 'breadcrumb' %}

{% set modifiersClasses = '' %}
{% for modifier in modifiers|default([]) %}
    {% set modifiersClasses = modifiersClasses ~ ' ' ~ blockSelector ~ syntax.separator.modifier ~ modifier %}
{% endfor %}

{% set attrsGenerated = '' %}
{% for attr_name, attr_value in attrs|default([]) %}
    {% set attrsGenerated = attrsGenerated ~ ' ' ~ attr_name ~ '="' ~ attr_value ~ '"' %}
{% endfor %}

{% set elementSelector = blockSelector ~ syntax.separator.element %}

<nav
    class="{{ blockSelector ~ modifiersClasses }}{{ classes|default(false) ? ' ' ~ classes|join(' ') }}"
    data-flag="breadcrumb"
    {{ attrsGenerated|raw }}
>
    {% block header %}
        <div class="{{ elementSelector ~ 'header' }}">
            {% block toggle %}
                <button class="{{ elementSelector ~ 'toggle' }}" data-breadcrumb="toggle">
                    {% block toggle_label %}Previous pages{% endblock %}
                </button>
            {% endblock toggle %}

            {% block back %}
                <a class="{{ elementSelector ~ 'back' }}" onclick="history.go(-1)">
                    {% block back_label %}Back{% endblock %}
                </a>
            {% endblock back %}
        </div>
    {% endblock header %}

    {% block list %}
        <ul class="{{ elementSelector ~ 'list' }}" data-breadcrumb="list" data-state="hidden">
            {% block list_inner %}
                {% for item in items %}
                    {% set itemActive = item.active|default(false) %}

                    <li class="{{ elementSelector ~ 'list-item' }}">
                        {% if itemActive %}
                            <span class="{{ elementSelector ~ 'item' }} {{ elementSelector ~ 'item' ~ syntax.separator.modifier ~ 'active' }}">
                        {% else %}
                            <a class="{{ elementSelector ~ 'item' }}"{% if item.href|default(false) %} href="{{ item.href }}"{% endif %}>
                        {% endif %}
                            {{ item.label }}
                        {% if itemActive %}
                            </span>
                        {% else %}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endblock list_inner %}
        </ul>
    {% endblock list %}
</nav>
